html{
    margin: 0 0;
}


body{
    margin: 0 0;
}

span{
    margin: auto 0;
    font-size: 32px;
}


header{
    padding: 0 24px;
    display: flex;
    background-color:white;
    height: 64px;
    box-sizing: content-box;
    justify-content: baseline;
}

header nav{
    width: 100%;
    margin: auto 0;
}


ul{
    width: inherit;
    margin: auto 0;
    list-style: none;
    display: flex;
    font-size: 32px;
    justify-content: flex-end;
    box-sizing: border-box;
}
li{
    margin-left: 24px;
}



#bannerPage{
    
    background-color: rgb(194, 194, 194);
    display: flex;
}

#bannerPage img{
    width: 60%;
    height: auto;
    margin: 32px 24px 32px 24px;
}

#bannerPage div{
    text-align: center;
    margin: auto 0;
}